@model IEnumerable<User>
@{
    ViewData["Title"] = "Users";
    var jobTitles = System.Enum.GetValues(typeof(TekoEmployeesMvc.Models.JobTitle)); 
    var departments = System.Enum.GetValues(typeof(TekoEmployeesMvc.Models.Department)); 
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
    <form method="post" asp-controller="Home" asp-action="FilterUsers" role="post"> 
        <label>FIO: </label>
        <input type="text" placeholder="Enter FIO" name="fio">
        <label>Age: </label>
        <input type="text" placeholder="Enter age" oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"  name="age">
        <label>Gender: </label>
        <select name="gender">
            <option></option>
            <option>Male</option>
            <option>Female</option>
        </select>
        <label>Job title: </label>
        <select name="jobTitle">
            <option></option>
            @foreach (var obj in jobTitles) 
            {
                <option>@obj</option>
            }
        </select>
        <label>Department: </label>
        <select name="jobTitle">
            <option></option>
            @foreach (var obj in departments) 
            {
                <option>@obj</option>
            }
        </select>
        <input type="submit" value="Find" class="btn btn-primary" />
    </form>
</div>

<label>Filters: @TempData["filterInfoUsers"]</label>

@if (Model == null)
{
    <label>Users are not generated yet...</label>
}
else
{
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Job title
                </th>
                <th>
                    Age
                </th>
                <th>
                    Birth date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                var age = System.DateTime.Now.Year - obj.BirthDate.Year;
                <tr>
                    <td>
                        @obj.FIO
                    </td>
                    <td>
                        @obj.Gender
                    </td>
                    <td>
                        @obj.JobTitle
                    </td>
                    <td>
                        @age
                    </td>
                    <td>
                        @obj.BirthDate.ToString("dd.MM.yyyy")
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
